body {
  font-family: "Montserrat", sans-serif;
}

/* 
.container {
  light_green: #e6f8fd;
  light_tomato: #feeee9;
  light_blue: #e6f6fd;
  light_red: #fef4e9;
  green: #2bb982;
  tomato: #fa653b;
  blue: #3fb6ee;
  orange: #fca506;
} 
*/

.ul_list {
  width: 100%;
  position: relative;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notification {
  width: 340px;
  height: 360px;
  display: none;
  position: absolute;
  transition: all 0.3s;
  right: 0px;
  top: 80px;
  border-radius: 6px;
  z-index: 111;
  overflow: hidden;
  height: 400px;
  box-shadow: 0 20px 40px #eee;
  transform: translateY(14px);
}

.dropdown_content {
  width: 100%;
  height: 300px;
  overflow: scroll;
  background-color: #fff;
}

.dropdown_content .item {
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 0 14px;
  height: 70px;
  background-color: #fff;
  border-top: 1px solid #eee;
  transition: all 0.3s;
  cursor: pointer;
}

.dropdown_content .item h3 {
  font-weight: 500;
}
.dropdown_content .item p {
  color: #999;
  font-size: 12px;
}

.ul_list li {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ul_list li:nth-child(1):hover .notification {
  display: block;
  transform: translateY(0px);
}

.dropdown_content .item:hover {
  background-color: #f3f7f9;
}

.mail {
  display: none;
  width: 340px;
  height: 360px;
  position: absolute;
  transition: 1s;
  right: 0px;
  top: 80px;
  border-radius: 6px;
  overflow: hidden;
  z-index: 111;
  height: 400px;
  box-shadow: 0 20px 40px #eee;
  transform: translateY(14px);
}

.ul_list li:nth-child(2):hover .mail {
  display: block;
  transform: translateY(0px);
}

.mail .notification_header span {
  font-size: 10px;
}

.profile_drop_down {
  width: 200px;
  height: 150px;
  position: absolute;
  right: 0px;
  background-color: #fff;
  box-shadow: 0 0 30px #eee;
  top: 70px;
  border-radius: 6px;
  overflow: hidden;
  display: none;
}

.ul_list .profile_drop_down li {
  min-height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #eee;
  padding: 0px 14px;
  cursor: pointer;
}
.ul_list .profile_drop_down li:hover {
  background-color: #f3f7f9;
}

.ul_list .profile_drop_down li a {
  margin-left: 10px;
  color: #999;
}

.ul_list li:nth-child(3):hover .profile_drop_down {
  display: block;
}

table {
  width: 100%;
  border: 1px solid #ddd;
  background: #fff;
  font-family: "Montserrat", sans-serif;
}

table thead {
  height: 50px;
  width: 100%;
}
table thead tr th {
  font-size: 14px;
  font-weight: 600;
  color: #0b4077;
  border-left: 1px solid #ddd;
}

table tbody {
  width: 100%;
}
table tbody tr td:nth-child(1) {
  border-left: none;
}

table tbody tr td {
  text-align: center;
  min-height: 50px;
  border-left: 1px solid #ddd;
  font-size: 14px;
  color: slategrey;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  border-bottom: 1px solid #ddd;
  /* color: #e6fdea; */
}

.save_btn {
  padding: 6px 20px;
  border-radius: 8px;
  background-color: #0b4077;
  font-weight: 600;
  color: #fff;
  transition: 1s;
  border: 3px solid #fff;
}
.save_btn:active {
  border: 3px solid #3e96f4;
}

.save_btn:hover {
  filter: brightness(1.2);
}

.cancel_btn {
  padding: 6px 20px;
  border-radius: 8px;
  background-color: #ff583b;
  font-weight: 600;
  color: #fff;
  transition: 1s;
  border: 3px solid #fff;
}

.cancel_btn:active {
  border: 3px solid #fc927f;
}

.cancel_btn:hover {
  filter: brightness(1.2);
}

.accepted {
  color: #fff;
  font-weight: 600;
  background-color: #0b4077;
}
.rejected {
  color: #fff;
  font-weight: 600;
  background-color: #fa7b31;
}
.done {
  color: #fff;
  font-weight: 600;
  background-color: #31c4fa;
}

.custom_card::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1129px) {
  .welcome_container {
    width: 60%;
  }
  .details_card {
    width: 38%;
  }
  .card_title {
    font-size: 14px;
  }
  .card_text {
    font-size: 12px;
  }
}
@media screen and (max-width: 972px) {
  .header_left {
    width: 40%;
  }
  .welcome_container {
    width: 100%;
  }
  .details_card {
    width: 100%;
    margin-top: 20px;
  }
  .card_title {
    font-size: 18px;
  }
  .card_text {
    font-size: 16px;
  }
}

@media screen and (max-width: 1129px) {
  .welcome_container {
    width: 60%;
  }
  .details_card {
    width: 38%;
  }
  .card_title {
    font-size: 14px;
  }
  .card_text {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .side_bar {
    width: 25%;
  }
  .header_left {
    width: 50%;
  }
  .dashboard_bottom {
    flex-direction: column;
  }
  .welcome_container {
    width: 100%;
  }
  .details_card {
    width: 100%;
    margin-top: 20px;
  }
  .card_title {
    font-size: 18px;
  }
  .card_text {
    font-size: 16px;
  }
  .recent_patient {
    width: 100%;
    margin-bottom: 20px;
  }
  .top_rated_doc {
    width: 100%;
  }
}

@media screen and (max-width: 670px) {
  .side_bar {
    display: none;
  }
  .header_left {
    width: 50%;
  }
  .header_container {
    width: 100%;
  }
  .main_dashboard {
    width: 100%;
  }
  .welcome_container {
    width: 100%;
  }
  .details_card {
    width: 100%;
    margin-top: 20px;
  }
  .card_title {
    font-size: 18px;
  }
  .card_text {
    font-size: 16px;
  }
  .recent_patient {
    width: 100%;
  }
  .top_rated_doc {
    width: 100%;
    margin-top: 20px;
  }
}

@media screen and (max-width: 425px) {
  .side_bar {
    display: none;
    width: 0px;
  }
  .header_left {
    width: 50%;
  }
  .header_container {
    width: 100%;
  }
  .main_dashboard {
    width: 100%;
  }
  .welcome_container {
    width: 100%;
  }
  .details_card {
    width: 100%;
    margin-top: 20px;
  }
  .card_title {
    font-size: 18px;
  }
  .card_text {
    font-size: 16px;
  }
  .recent_patient {
    width: 100%;
  }
  .top_rated_doc {
    width: 100%;
    margin-top: 20px;
  }
}
